.form-container {
  background-color: #323740;
  height: 100%;
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

form {
  display: flex; 
  flex-direction: column; 
  justify-content: center;  
  align-items: center;
  background-color: white; 
  width: 500px; 
}

form * {
  margin-bottom: 20px; 
  height: 40px; 
  width: 200px;   
}

.inner-container {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  background-color: white;
  margin: 0 auto; 
}

.message-container {
  text-align: center; 
}

input {
  border: none;
  border-bottom: 3px solid grey;
}

input:focus {
  outline:none;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, rgba(118, 225, 239, 1), rgba(50, 54, 64, 1)) 1 100%;
  border-image-slice: 1;
  border-top: none;
  border-left: none;
  border-right: none;
}