.movie-card {
  border: 5px solid #8E959C;
  display: flex;
  height: 300px;
  margin-bottom: 25px;
  padding-right: 10px;
  width: 500px;
}

.movie-img {
  height: 300px;
  margin-right: 20px;
  width: 185px;
}

.movie-info-text {
  width: 100%;
}

.movie-icon-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0 5px 0;
}

.movie-rating-chart {
  height: 50px;
  padding-top: 12px;
  width: 50px;
}

.outline-circle,
.circle {
  stroke-width: 3;
}

.outline-circle {
  fill: #8E959C;
  stroke: #fff;
}

.circle {
  fill: none;
  animation: progress 4s ease-out forwards;
  stroke: #76E1EF;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }

  60% {
    stroke-dasharray: 100 100;
  }
}

.movie-rating {
  font-size: 0.8rem;
}

.popcorn-icon {
  height: 60px;
  /*margin-bottom: 10px;*/
}

.movie-title, 
.movie-release {
  padding-left: 5px;
}

.movie-title {
  color: #76E1EF;
  font-size: 1.5rem;
  margin: 0;
}

.movie-release,
.movie-description {
  color: #8E959C;
}

.movie-description {
  border-radius: 10px;
  cursor: default;
  overflow: auto;
  width: 200px;
  height: 100px;
  transition: box-shadow 500ms;
  padding: 5px;
}

.movie-description:hover {
  box-shadow: inset 0 -45px 130px -55px rgba(0, 0, 0, 1);
}

