.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #3D414C;
}

.header-title-navlink {
  text-decoration: none;  
}

.header-title {
  color: #76E1EF;
  font-size: 4rem;
  margin: 0;
  margin-left: 30px;
}

.login-btn {
  background-color: #76E1EF;
  border-radius: 15px;
  font-size: 1.3rem;
  height: 40px;
  margin-right: 30px;
  width: 120px
}

.welcome-user {
  color: #76E1EF;
  margin-right: 40px;
}